.experience_ul {
    list-style: none; /* Remove list bullets */
    padding: 0;
    margin: 0;
}

.experience_li { 
    padding-left: 16px; 
}

.experience_li:before {
    content: "-"; /* Insert content that looks like bullets */
    padding-right: 8px;
}