nav {
   position: fixed;
   height: 50px;
   width: 100%;
   background-color: rgb(204, 51, 255);
   }
   
nav li {
   display: inline;
}

section {
   margin-top: 50px;
   width: 50%;
   float: left;
}

footer {
   width: 100%;
   height: 50px;
   clear: both;
}
