header {
   width: 100%;
   position: fixed;
   background-color: rgb(173, 173, 133);
   height: 75px;
}
body {
   margin: 0px;
}
nav {
   position: fixed;
   top: 75px;
   height: 50px;
   width: 100%;
   background-color: rgb(204, 51, 255);
   }
   
nav li {
   display: inline;
}

nav li:hover {
   background-color: rgb(173,173,133);
   font-size: 28pt;
}

section {
   margin-top: 125px;
   width: 50%;
   float: left;
   height: 500px;
}

.left {
   background-color: rgb(173, 173, 133);
   border-right: 5px;
}

.right {
   background-color: rgb(200, 200, 175)
}

footer {
   width: 100%;
   height: 50px;
   clear: both;
   background-color: rgb(204, 51, 255);
}
