body {
  background-color: #eeeeee;
}
header {
  color: blue;
}
li {
  
}
.High {
  color: red;
}
.Medium {
  color: orange;
}
.Low {
  color: gray;
}
.done {
  text-decoration:line-through;
}
#lista {
  width: 70%;
  height: 200px;
  background-color: #5c738b;
  overflow: auto;
}
